<template>
    <div>
        <div class="breadcrumbs">
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Ask Question</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="crumbs">
                            <router-link :to = "'/'">Home</router-link>
                            <span class="crumbs-span">/</span>

                            <span class="current">Ask Question</span>
                        </div>
                    </div>
                </div><!-- End row -->
            </section><!-- End container -->
        </div><!-- End breadcrumbs -->

        <section class="container main-content">
            <div class="row">

                <div class="col-md-9">
                    <div class="page-content ask-question">
                        <div class="boxedtitle page-title"><h2>Ask Question</h2></div>

                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque.</p>

                        <div class="form-style form-style-3" id="question-submit">
                            <form v-on:submit.prevent="storeQuestion()" method="post" id="questionForm">
                                <div class="form-inputs clearfix">
                                    <p>
                                        <label class="required">Question Title<span>*</span></label>
                                        <input type="text" v-model="questions.question" id="question-title">
                                        <span class="form-description">Please choose an appropriate title for the question to answer it even easier .</span>
                                        <span class="text-danger" v-if="errors.question">{{errors.question[0]}}</span>
                                    </p>
                                    <p>
                                        <label class="required">Tags<span>*</span></label>
                                        <input type="text" v-model="questions.tags" name="tags" id="question-details" >
                                        <span class="form-description">Please choose  suitable Keywords Ex : <span class="color">question , poll</span> .</span>
                                        <span class="text-danger" v-if="errors.tags">{{errors.tags[0]}}</span>
                                    </p>

                                    <p>
                                        <label class="required">Optional</label>
                                        <input type="text" id="question-details" v-model="questions.optional">
                                        <span class="form-description">Type the optional thoroughly and in detail .</span>
                                        <span class="text-danger" v-if="errors.optional">{{errors.optional[0]}}</span>
                                    </p>
                                    <p>
                                        <label class="required">Category<span>*</span></label>
                                        <span class="styled-select">
                                            <select v-model="questions.category_id">
                                                <option value="">Select a Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.category_title }}</option>
                                            </select>
									    </span>
                                        <span class="form-description">Please choose the appropriate section so easily search for your question .</span>
                                        <span class="text-danger" v-if="errors.category_id">{{errors.category_id[0]}}</span>
                                    </p>

                                </div>
                                <div id="form-textarea">
                                    <p>
                                        <label class="required">Details<span>*</span></label>
                                        <textarea id="question-details" v-model="questions.question_description" aria-required="true" cols="58" rows="8"></textarea>
                                        <span class="form-description">Type the description thoroughly and in detail .</span>
                                        <span class="text-danger" v-if="errors.question_description">{{errors.question_description[0]}}</span>
                                    </p>
                                </div>


                                <p class="form-submit">
                                    <input type="submit" id="publish-question" value="Publish Your Question" class="button color small submit">
                                </p>
                            </form>
                        </div>
                    </div><!-- End page-content -->
                </div>
                <!-- End main -->

                <!-- Sidebar -->
                <sidebar></sidebar>
                <!-- End sidebar -->

            </div><!-- End row -->
        </section>
    </div>
</template>

<script>
    import Sidebar    from '../components/included/sidebar';
    import Swal from 'sweetalert2'
    export default {

        components: {
            Sidebar,
        },

        data: function () {
            return {
                errors: [],
                categories: [],
                questions: {
                    question: '',
                    question_description: '',
                    optional: '',
                    category_id: '',
                    tags: '',
                }
            }
        },

        mounted() {
            this.pageScript()
            this.getCategories()
        },

        methods:{
            pageScript(){
                // jQuery('#question_tags').tag();
            },

            storeQuestion() {
                var _this = this;
                var newQuestion = _this.questions;
                axios.post('/questions', newQuestion)
                    .then(function (resp) {
                        console.log(resp.data.status);
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                        }else {
                            $("#questionForm")[0].reset();
                            Swal.fire({
                                // position: 'center',
                                type: 'success',
                                title: 'Your Question save success, Wait for admin approval.',
                                showConfirmButton: false,
                                timer: 2000
                            })

                        }
                    })
                    .catch(function (resp) {
                        alert("Could not create your question");
                    });
            },

            getCategories(){
                var _this = this;
                axios.get('/get-categories')
                    .then(function (resp) {
                        // console.log(resp.data)
                        _this.categories = resp.data
                    })
            },
        }
    }
</script>
