<template>
    <div>
        <div class="breadcrumbs">
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Question</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="crumbs">
                            <router-link :to = "'/'">Home</router-link>
                            <span class="crumbs-span">/</span>

                            <span class="current">All Questions</span>
                        </div>
                    </div>
                </div><!-- End row -->
            </section><!-- End container -->
        </div><!-- End breadcrumbs -->

        <section class="container main-content">
            <div class="row">
                <div class="col-md-9">

                    <div class="tabs-warp question-tab">
                        <ul class="tabs">
                            <li class="tab"><a href="#" class="current">Recent</a></li>
                            <li class="tab"><a href="#">Hot</a></li>
                            <li class="tab"><a href="#">Most Vote</a></li>
                            <li class="tab"><a href="#">Most Answer</a></li>
                            <li class="tab"><a href="#">Most View</a></li>
                        </ul>
                        <div class="tab-inner-warp">
                            <div class="tab-inner">
                                <article class="question question-type-normal">
                                    <h2>
                                        <a href="single_question.html">This is my first Question</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/avatar.png'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <span class="mr-5"><i class="fa fa-user-circle-o"></i> by <a href="#">Rashiqul</a></span>

                                        <p class="question-desc">
                                            <i class="icon-tags"></i>
                                            <a href="#">wordpress</a>, <a href="#">question</a>, <a href="#">developer</a>
                                        </p>
                                        <div class="question-details">
                                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="fa fa-comment-o"></i>23 Comments</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <span class="single-question-vote-result">+22</span>
                                        <ul class="single-question-vote">
                                            <li><a href="#" class="single-question-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
                                            <li><a href="#" class="single-question-vote-up" title="Like"><i class="icon-thumbs-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                                <article class="question question-type-normal">
                                    <h2>
                                        <a href="single_question.html">This is my first Question</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/avatar.png'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <span class="mr-5"><i class="fa fa-user-circle-o"></i> by <a href="#">Rashiqul</a></span>

                                        <p class="question-desc">
                                            <i class="icon-tags"></i>
                                            <a href="#">wordpress</a>, <a href="#">question</a>, <a href="#">developer</a>
                                        </p>
                                        <div class="question-details">
                                            <span class="question-answered"><i class="icon-ok"></i>in progress</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="fa fa-comment-o"></i>23 Comments</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <span class="single-question-vote-result">+22</span>
                                        <ul class="single-question-vote">
                                            <li><a href="#" class="single-question-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
                                            <li><a href="#" class="single-question-vote-up" title="Like"><i class="icon-thumbs-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                                <article class="question question-type-normal">
                                    <h2>
                                        <a href="single_question.html">This is my first Question</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/avatar.png'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <span class="mr-5"><i class="fa fa-user-circle-o"></i> by <a href="#">Rashiqul</a></span>

                                        <p class="question-desc">
                                            <i class="icon-tags"></i>
                                            <a href="#">wordpress</a>, <a href="#">question</a>, <a href="#">developer</a>
                                        </p>
                                        <div class="question-details">
                                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="fa fa-comment-o"></i>23 Comments</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <span class="single-question-vote-result">+22</span>
                                        <ul class="single-question-vote">
                                            <li><a href="#" class="single-question-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
                                            <li><a href="#" class="single-question-vote-up" title="Like"><i class="icon-thumbs-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>

                                <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                            </div>
                        </div>
                        <div class="tab-inner-warp">
                            <div class="tab-inner">
                                <article class="question question-type-normal">
                                    <h2>
                                        <a href="single_question.html">This is my first Question</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/avatar.png'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <p class="question-desc">Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit.</p>
                                        <div class="question-details">
                                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                                            <span class="question-favorite"><i class="icon-star"></i>5</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>

                                <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                            </div>
                        </div>
                        <div class="tab-inner-warp">
                            <div class="tab-inner">

                                <article class="question question-type-normal">
                                    <h2>
                                        <a href="single_question.html">This Is My Eighth Question</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/admin.jpg'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <p class="question-desc">Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit.</p>
                                        <div class="question-details">
                                            <span class="question-answered"><i class="icon-ok"></i>in progress</span>
                                            <span class="question-favorite"><i class="icon-star"></i>5</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                                <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                            </div>
                        </div>
                        <div class="tab-inner-warp">
                            <div class="tab-inner">

                                <article class="question question-type-normal">
                                    <h2>
                                        <a href="single_question.html">This Is My Eighth Question</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/admin.jpg'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>

                                        <p class="question-desc">Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit.</p>

                                        <div class="question-details">
                                            <span class="question-answered"><i class="icon-ok"></i>in progress</span>
                                            <span class="question-favorite"><i class="icon-star"></i>5</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                                <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                            </div>
                        </div>
                    </div><!-- End page-content -->
                </div><!-- End main -->

                <!-- Sidebar -->

                <!-- End sidebar -->
                <sidebar></sidebar>
            </div><!-- End row -->
        </section>
    </div>
</template>

<script>
    import Sidebar    from '../components/included/sidebar';
    import Slider    from '../components/included/slider';
    export default {
        title: 'Question',
        components: {
            Sidebar,
            Slider,
        },

        mounted() {
            this.pageScript();
        },

        methods:{
            pageScript(){
                jQuery(".tooltip-n").tipsy({fade:true,gravity:"s"});
                jQuery("ul.tabs").tabs(".tab-inner-warp",{effect:"slide",fadeInSpeed:100});
                jQuery("ul.tabs li").each(function(){
                    //i_color
                    var i_color = jQuery(this).parent().parent().attr("i_color");
                    jQuery(this).find("a i").css({"color":i_color});
                    //i_click
                    var i_click = jQuery(this).parent().parent().attr("i_click");
                    jQuery(this).find("a.current i").css({"color":i_click});

                    jQuery(this).find("a").hover(function () {
                        jQuery(this).find("i").css({"color":i_click});
                    },function () {
                        if (jQuery(this).hasClass("current")) {
                            jQuery(this).find("i").css({"color":i_click});
                        }else {
                            jQuery(this).find("i").css({"color":i_color});
                        }
                    });

                    jQuery(this).click(function() {
                        //i_color
                        var i_color = jQuery(this).parent().parent().attr("i_color");
                        jQuery(this).parent().find("a i").css({"color":i_color});
                        //i_click
                        var i_click = jQuery(this).parent().parent().attr("i_click");
                        jQuery(this).find("a.current i").css({"color":i_click});
                        return false;
                    });

                    var tab_width = jQuery(this).parent().parent().attr("tab_width");
                    if (jQuery(this).parent().parent().hasClass("tabs-vertical")) {
                        jQuery(this).parent().css({"width":tab_width+"px"});
                        jQuery(this).parent().parent().find("div.tab-inner-warp").css({"margin-left":tab_width+"px"});
                    }

                });

            }
        }


    }
</script>
