<template>
    <div>
        <div class="breadcrumbs">
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>User Profile</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="crumbs">
                            <router-link :to = "'/'">Home</router-link>
                            <span class="crumbs-span">/</span>

                            <span class="current">User Profile</span>
                        </div>
                    </div>
                </div><!-- End row -->
            </section><!-- End container -->
        </div><!-- End breadcrumbs -->

        <section class="container main-content">
            <div class="row">

                <div class="col-md-9">
                    <div class="page-content">
                        <div class="boxedtitle page-title"><h2>Edit Profile</h2></div>

                        <div class="form-style form-style-4">
                            <form v-on:submit.prevent="formSubmit()" id="userForm">
                                <div class="form-inputs clearfix">
                                    <p>
                                        <label>Full Name</label>
                                        <input type="text" v-model="user.full_name" placeholder="Please provide your full name">
                                        <span class="text-danger" v-if="errors.full_name">{{errors.full_name[0]}}</span>
                                    </p>
                                    <p>
                                        <label>User Name</label>
                                        <input type="text" v-model="user.username" placeholder="Please provide your username">
                                        <span class="text-danger" v-if="errors.username">{{errors.username[0]}}</span>
                                    </p>
                                    <p>
                                        <label class="required">Location</label>
                                        <input type="text" v-model="user.location" placeholder="Please provide your location">
                                        <span class="text-danger" v-if="errors.location">{{errors.location[0]}}</span>
                                    </p>
                                    <p>
                                        <label>Website</label>
                                        <input type="text" v-model="user.personal_website" placeholder="Please provide your personal website">
                                        <span class="text-danger" v-if="errors.personal_website">{{errors.personal_website[0]}}</span>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <label>Private Messages</label>
                                        <input type="checkbox" v-model="user.private_message">
                                        <span class="form-description">Allow users to email you (Without seeing your address)</span>
                                        <span class="text-danger" v-if="errors.private_message">{{errors.private_message[0]}}</span>
                                    </p>
                                    <p>
                                        <label>Wall Posts</label>
                                        <input type="checkbox" v-model="user.wall_post">
                                        <span class="form-description">Allow users to post on your wall (You will also be e-mailed)</span>
                                        <span class="text-danger" v-if="errors.wall_post">{{errors.wall_post[0]}}</span>
                                    </p>
                                    <p>
                                        <label>Mass Mailing</label>
                                        <input type="checkbox" v-model="user.mass_mailings">
                                        <span class="form-description">Subscribe to e-mails sent out to all users</span>
                                        <span class="text-danger" v-if="errors.mass_mailings">{{errors.mass_mailings[0]}}</span>
                                    </p>
                                </div>
                                <div class="form-style form-style-2">
                                    <div class="user-profile-img"><img :src="'/frontend/images/admin.jpg'"alt="admin"></div>
                                    <p class="user-profile-p">
                                        <label>Profile Picture</label>
                                    </p>
                                    <div class="fileinputs">
                                        <input type="file" class="file">
                                        <div class="fakefile">
                                            <button type="button" class="button small margin_0">Select file</button>
                                            <span><i class="icon-arrow-up"></i>Browse</span>
                                        </div>
                                    </div>
                                    <span class="text-danger" v-if="errors.avatar">{{errors.avatar[0]}}</span>
                                    <div class="clearfix"></div>
                                    <p>
                                        <label>About Yourself</label>
                                        <textarea cols="58" rows="8" v-model="user.about" placeholder="Please write something about yourself"></textarea>
                                        <span class="text-danger" v-if="errors.about">{{errors.about[0]}}</span>
                                    </p>
                                </div>
                                <div class="form-inputs clearfix">
                                    <p>
                                        <label>Facebook</label>
                                        <input type="text" v-model="user.facebook_profile_link" placeholder="Please provide your facebook profile link">
                                        <span class="text-danger" v-if="errors.facebook_profile_link">{{errors.facebook_profile_link[0]}}</span>
                                    </p>
                                    <p>
                                        <label>Twitter</label>
                                        <input type="text" v-model="user.twitter_profile_link" placeholder="Please provide your twitter profile link">
                                        <span class="text-danger" v-if="errors.twitter_profile_link">{{errors.twitter_profile_link[0]}}</span>
                                    </p>
                                    <p>
                                        <label>Linkedin</label>
                                        <input type="text" v-model="user.linkedin_profile_link" placeholder="Please provide your linkedin profile link">
                                        <span class="text-danger" v-if="errors.linkedin_profile_link">{{errors.linkedin_profile_link[0]}}</span>
                                    </p>
                                    <p>
                                        <label>Youtube</label>
                                        <input type="text" v-model="user.youtube_profile_link" placeholder="Please provide your youtube profile link">
                                        <span class="text-danger" v-if="errors.youtube_profile_link">{{errors.youtube_profile_link[0]}}</span>
                                    </p>
                                </div>
                                <p class="form-submit">
                                    <input type="submit" value="Update" class="button color small login-submit submit">
                                </p>
                            </form>
                        </div>
                    </div><!-- End page-content -->
                </div>
                <!-- End main -->

                <!-- Sidebar -->
                <sidebar></sidebar>
                <!-- End sidebar -->

            </div><!-- End row -->
        </section>
    </div>
</template>

<script>
    import Sidebar    from '../components/included/sidebar';
    import Swal from 'sweetalert2';

    export default {
        data: function () {
            return {
                auth: window.auth,
                errors: [],
                user: {
                    full_name: null,
                    username: null,
                    location: null,
                    personal_website: null,
                    avatar: null,
                    about: null,
                    private_message: null,
                    wall_post: null,
                    mass_mailings: null,
                    facebook_profile_link: null,
                    twitter_profile_link: null,
                    linkedin_profile_link: null,
                    youtube_profile_link: null,
                }
            }
        },
        components: {
            Sidebar,
        },
        mounted() {
            this.user.full_name = this.auth.full_name;
            this.user.username = this.auth.username;
            this.user.location = this.auth.location;
            this.user.personal_website = this.auth.personal_website;
            this.user.avatar = this.auth.avatar;
            this.user.about = this.auth.about;
            this.user.private_message = this.auth.private_message;
            this.user.wall_post = this.auth.wall_post;
            this.user.mass_mailings = this.auth.mass_mailings;
            this.user.facebook_profile_link = this.auth.facebook_profile_link;
            this.user.twitter_profile_link = this.auth.twitter_profile_link;
            this.user.linkedin_profile_link = this.auth.linkedin_profile_link;
            this.user.youtube_profile_link = this.auth.youtube_profile_link;
        },
        methods:{
            formSubmit() {
                var _this = this;
                axios.post('users/' + _this.auth.id, _this.user)
                    .then(function (resp) {
                        console.log(resp.data.status);
                        if (resp.data.status === 2000){
                            _this.user = resp.data.user;
                        }else {
                            _this.errors = resp.data.errors;
                        }
                    })
                    .catch(function () {
                        alert("Could not update your profile!");
                    });
            }
        }
    }
</script>
